body {
  font-family: 'Oswald', sans-serif;
}

.top-space {
  height: 20px;
}

.author-info-section {
  background: #00ace6;
  color: white;
}

.author-info-section a {
  color: white;
}

.author-info-section ul {
  text-align: center;
  padding: 1em;
}

#author-info-section-name {
  font-size: 50px;
}

.post-info {
  padding: 1em;
  border-bottom: lightgrey solid thin;
}

.post-info > p {
  font-weight: 300;
  color: darkgrey;
}

.post-info > a {
  color: rgba(102, 102, 102, 0.64);
  font-size: 24px;
  font-weight: 400;
}

.post-title-section {
  background: darkgrey;
  color: white;
  margin-bottom: 20px;
}

.post {
  line-height:1.5;
  font-family: 'Lato', sans-serif;
}

#post-title {
  font-size: 50px;
}

#home-link {
  color:darkgrey;
}
