---
layout: default
---
<div class="container-fluid">

  <div class="row">
    <div class="top-space col-xs-12">
      <p class="text-right"><a id="home-link" href="/">Nick Evans</a></p>
    </div>
  </div>

</div>

<div class="post-title-section">

  <div class="container-fluid">
    <div class="row">
      <div class="post-title-section col-sm-offset-3 col-sm-6 col-xs-12">
        <h1 id="post-title">{{ page.title }}</h1>
        <p><small>{{ page.date | date_to_long_string }}</small></p>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 post">
      {{ content }}
    </div>
  </div><!-- /.row -->

  <hr/>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 post">
      {% if site.comments %}
        {% include disqus_comments.html %}
      {% endif %}
    </div>
  </div>

</div><!-- /.container -->
